<div class="container-fluid py-4 container">
    <div class="row d-flex justify-content-start">
        <div class="col-md-3" id="actor-image">
            <img src="@Model.Image" alt="@Model.Name" class="img-fluid rounded-3 shadow-lg mb-3"/>
        </div>
        <div class="col-md-8" id="actor-info">
            <h1 class="display-4 text-purple mb-4">
                @Model.Name
                <span class="badge m-1 @(Model.IsAlive ? "bg-success" : "bg-danger") status-badge">
                    @(Model.IsAlive ? "Alive" : "Deceased")
                </span>
            </h1>
            <div class="row g-3">
                <div class="col-sm-6 col-lg-4">
                    <div class="card bg-dark-gray text-light h-100">
                        <div class="card-body">
                            <h5 class="card-title text-purple">Net Worth</h5>
                            <p class="card-text fs-4">$@Model.NetWorth.ToString("N0")</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="card bg-dark-gray text-light h-100">
                        <div class="card-body">
                            <h5 class="card-title text-purple">Gender</h5>
                            <p class="card-text fs-4">@Model.Gender</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="card bg-dark-gray text-light h-100">
                        <div class="card-body">
                            <h5 class="card-title text-purple">Nationality</h5>
                            <p class="card-text fs-4">@Model.Nationality</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="card bg-dark-gray text-light h-100">
                        <div class="card-body">
                            <h5 class="card-title text-purple">Height</h5>
                            <p class="card-text fs-4">@Model.Height.ToString("F2") m</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="card bg-dark-gray text-light h-100">
                        <div class="card-body">
                            <h5 class="card-title text-purple">Birthday</h5>
                            <p class="card-text fs-4">@Model.Birthday.ToShortDateString()</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="card bg-dark-gray text-light h-100">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title text-purple">Occupations</h5>
                            <div class="card-text fs-5 occupation-list flex-grow-1 overflow-auto">
                                @foreach (var occupation in Model.Occupations.Split(','))
                                {
                                <div>@occupation.Replace("_", " ")</div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .text-purple {
        color: #9c27b0;
    }

    .bg-dark-gray {
        background-color: #1e1e1e;
    }

    .card {
        transition: transform 0.2s;
    }

    .card:hover {
        transform: translateY(-5px);
    }

    .status-badge {
        font-size: 1rem;
        padding: 3px 7px;
    }

    .occupation-list {
        max-height: 150px; /* Adjust this value as needed */
    }

    .card-body {
        height: 100%;
    }
</style>