@{
    var movie = ViewData["Movie"] as Movie;
    var averageRating = ViewData["AverageRating"];
    var image = "https://m.media-amazon.com/images/M/MV5BNDYxNjQyMjAtNTdiOS00NGYwLWFmNTAtNThmYjU5ZGI2YTI1XkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_SX300.jpg";
    var isFavorite = (bool)ViewData["IsFavorite"];
    var isWatchlist = (bool)ViewData["IsWatchlist"];
}

<div class="container">
    <div class="d-flex flex-column">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <h1>@movie.Title</h1>
            </div>

            <div class="d-flex justify-content-between align-items-center gap-3">
                <h5>@movie.Year</h5>
                <h5>@movie.Genre</h5>
                <h5>@movie.Runtime</h5>
            </div>
        </div>

        <div class="row justify-content-between h-75 mt-3 mb-3">
            <div class="col-3">
                @if (!string.IsNullOrEmpty(@movie.Poster) && @movie.Poster != "N/A")
                {
                    <img src="@movie.Poster" alt="@movie.Title" class="img-fluid" />
                }
                else
                {
                    <img class="card-img-top border border-white" src="@Url.Content("~/images/poster_not_found.png")" alt="Movie poster not found">
                }
            </div>
        </div>

        <div class="w-100 d-flex justify-content-between">
            <div class="d-flex flex-row gap-4">
                <div class="d-flex gap-4">
                    <div class="d-flex flex-column">
                        <h5>Rating</h5>
                        <h6 class="mt-2">@averageRating</h6>
                    </div>

                    <div class="d-flex flex-column">
                        <h5>Your Rating</h5>

                        @await Html.PartialAsync("_PrimaryButton", Tuple.Create("Rate Movie", "style-2", "", "type=type data-toggle=modal data-target=#exampleModalCenter", "button"))

                        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="d-flex justify-content-between flex-column">
                                        <div class="modal-header">
                                            <div>
                                                <h5 class="modal-title text-dark" id="exampleModalLongTitle">@movie.Title</h5>
                                            </div>
                                            <div>
                                                @await Html.PartialAsync("_PrimaryButton", Tuple.Create("X", "", "btn-without", "type=button data-dismiss=modal", "button"))
                                            </div>
                                        </div>
                                        
                                        <div class="modal-body">
                                            <div class="rating text-center" id="ratingContainer">
                                                <form asp-action="AddRating" method="post" class="d-flex align-items-center" id="ratingForm">
                                                    @Html.AntiForgeryToken()
                                                    <div>
                                                        <input type="hidden" name="movieId" value="@movie.Id" />
                                                        <input type="hidden" name="title" value="@movie.Title" />
                                                        <input type="hidden" name="poster" value="@movie.Poster" />

                                                        <input type="hidden" name="ratingValue" id="ratingValue" value="0" />
                                                    </div>

                                                    @* <div class="modal"> *@
                                                    @*     @await Html.PartialAsync("_PrimaryButton", Tuple.Create("Submit", "style-1", "", "type=submit", "button")) *@
                                                    @* </div> *@
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="d-flex gap-4">
                    @if (isFavorite)
                    {
                    <form asp-action="DestroyFavorite" asp-controller="Movies" method="post" class="mb-2">
                        @Html.AntiForgeryToken()
                        @Html.Hidden("favoriteId", @movie.Id)
                        <button type="submit" class="btn-without text-light">
                            Delete from Favorites <i class="fas fa-minus"></i>
                        </button>
                    </form>
                    }
                    else
                    {
                    <form asp-action="StoreFavorite" asp-controller="Movies" method="post" class="mb-2">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="movieId" value="@movie.Id" />
                        <input type="hidden" name="title" value="@movie.Title" />
                        <input type="hidden" name="poster" value="@movie.Poster" />
                        <button type="submit" class="btn-without text-light">
                            Add to Favorites <i class="fas fa-plus"></i>
                        </button>
                    </form>
                    }

                    @if (isWatchlist)
                    {
                    <form asp-action="DestroyWatchlist" asp-controller="Movies" method="post" class="mb-2">
                        @Html.AntiForgeryToken()
                        @Html.Hidden("id", @movie.Id)
                        <button type="submit" class="btn-without text-light">
                            Delete from Watchlist <i class="fas fa-minus"></i>
                        </button>
                    </form>
                    }
                    else
                    {
                    <form asp-action="StoreWatchlist" asp-controller="Movies" method="post" class="mb-2">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="movieId" value="@movie.Id" />
                        <input type="hidden" name="title" value="@movie.Title" />
                        <input type="hidden" name="poster" value="@movie.Poster" />
                        <button type="submit" class="btn-without text-light">
                            Add to Watchlist  <i class="fas fa-plus"></i>
                        </button>
                    </form>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
