@{
    var movie = ViewData["Movie"] as Movie;
    var averageRating = ViewData["AverageRating"];
    var currentUserRating = ViewData["CurrentUserRating"] ?? string.Empty;
    bool hasRating = !string.IsNullOrEmpty(currentUserRating.ToString());
    var isFavorite = (bool)ViewData["IsFavorite"];
    var isWatchlist = (bool)ViewData["IsWatchlist"];
    var isRated = (bool)ViewData["isRated"];
}

<div class="container">
    <div class="d-flex flex-column">
        <div class="d-flex justify-content-between align-items-center">
            <h1>@movie.Title</h1>
            <div class="d-flex justify-content-between align-items-center gap-3">
                <h5>@movie.Year</h5>
                <h5>@movie.Genre</h5>
                <h5>@movie.Runtime</h5>
            </div>
        </div>

        <div class="d-flex h-75 mt-3 mb-3">
            <div class="col-3">
                <img src="@(!string.IsNullOrEmpty(movie.Poster) && movie.Poster != "N/A" ? movie.Poster : Url.Content("~/images/poster_not_found.png"))" 
                     alt="@movie.Title" 
                     class="img-fluid" />
            </div>
            
            <div class="d-flex flex-column w-50 flex-wrap">
                @await Html.PartialAsync("_MovieOverview",
                Tuple.Create("Overview", @movie.Plot, "d-flex flex-column gap-2 mb-3"))
                
                @await Html.PartialAsync("_MovieOverview",
                Tuple.Create("Director", @movie.Director, "d-flex flex-row gap-2"))

                @await Html.PartialAsync("_MovieOverview",
                Tuple.Create("Writers", @movie.Writer,"d-flex flex-row gap-2"))
                
                @await Html.PartialAsync("_MovieOverview",
                Tuple.Create("Actors", @movie.Actors, "d-flex flex-row gap-2"))

                @await Html.PartialAsync("_MovieOverview",
                Tuple.Create("Language", @movie.Language, "d-flex flex-row gap-2"))

                @await Html.PartialAsync("_MovieOverview",
                Tuple.Create("Genres", @movie.Genre, "d-flex flex-row gap-2"))
            </div>
        </div>

        <div class="w-100 d-flex justify-content-between">
            <div class="d-flex flex-row gap-4">
                <div class="d-flex gap-4">
                    <div class="d-flex flex-column">
                        <h5 style="font-size: 18px">Rating</h5>
                        <h6><i class="fa-solid fa-star" style="color: #FFD43B;"></i><span class="rate">@averageRating</span></h6>
                    </div>

                    <div class="d-flex flex-column">
                        @await Html.PartialAsync("_RateMovieModal", 
                            Tuple.Create(movie.Id, movie.Title, movie.Poster, isRated ? "Your Rating" : "Rate Movie", isRated ? "fa-solid fa-pen-to-square" : "fas fa-plus", "btn-without text-light"))
                        <h6 class="mt-2" style="margin: 0">
                            @if (hasRating)
                            {
                                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                <span class="rate">@currentUserRating</span>
                            }
                        </h6>
                    </div>
                </div>

                <div class="d-flex gap-4">
                    @if (isFavorite)
                    {
                        <form asp-action="DestroyFavoriteMovie" asp-controller="Movies" method="post" class="mb-2">
                            @Html.AntiForgeryToken()
                            @Html.Hidden("favoriteId", movie.Id)
                            <button type="submit" class="btn-without text-light">
                                Delete from Favorites <i class="fas fa-minus"></i>
                            </button>
                        </form>
                    }
                    else
                    {
                        <form asp-action="StoreFavoriteMovie" asp-controller="Movies" method="post" class="mb-2">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="movieId" value="@movie.Id" />
                            <input type="hidden" name="title" value="@movie.Title" />
                            <input type="hidden" name="poster" value="@movie.Poster" />
                            <button type="submit" class="btn-without text-light">
                                Add to Favorites <i class="fas fa-plus"></i>
                            </button>
                        </form>
                    }

                    @if (isWatchlist)
                    {
                        <form asp-action="DestroyWatchlistMovie" asp-controller="Movies" method="post" class="mb-2">
                            @Html.AntiForgeryToken()
                            @Html.Hidden("id", movie.Id)
                            <button type="submit" class="btn-without text-light">
                                Delete from Watchlist <i class="fas fa-minus"></i>
                            </button>
                        </form>
                    }
                    else
                    {
                        <form asp-action="StoreWatchlistMovie" asp-controller="Movies" method="post" class="mb-2">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="movieId" value="@movie.Id" />
                            <input type="hidden" name="title" value="@movie.Title" />
                            <input type="hidden" name="poster" value="@movie.Poster" />
                            <button type="submit" class="btn-without text-light">
                                Add to Watchlist <i class="fas fa-plus"></i>
                            </button >
                        </form>
                    }
                </div>
            </div>
        </div>

        <div class="d-flex flex-column gap-4">
            <div class="d-flex flex-row gap-4 align-items-center mt-5">
                <h3 class="fw-bold mb-0">User Reviews </h3>
                @await Html.PartialAsync("_ReviewPopUpForm", Tuple.Create( movie.Id, movie.Title, movie.Poster, "/movies/tt908980/review"))
            </div>
            
            <div class="bg-secondary-color w-100 vh-20 mb-3 p-3 rounded-3">
                <div class="d-flex flex-row gap-3">
                    <div>
                        <i class="fa-regular fa-user user-icon"></i>
                    </div>
                    
                    <div class="d-flex flex-column gap-2">
                        <h3 class="fw-bold mb-0">Awesome movie. I love it!</h3>
                        <p class="mb-0">Written by: @movie.Director on @DateTime.Now.ToString("D")</p>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
