@*Usage: @await Html.PartialAsync("_ReviewPopUpForm", Tuple.Create( "Movie_Id", "Movie_Title", "Movie_Poster", "Review title", "Review text","Form_Action"))*@

@model Tuple<string, string, string, string, string, string>

@await Html.PartialAsync("_PrimaryButton",
Tuple.Create(
    "Edit Review",
    "style-1",
    "btn-sm",
    "type=button data-toggle=modal data-target=#editReviewModal",
    "button")
)

<div class="modal" id="editReviewModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                @if (!string.IsNullOrEmpty(Context.Session.GetString("CurrentUser")))
                {
                    <h4 class="modal-title text-black">Review for @Model.Item2</h4>
                }
                else
                {
                    <h4 class="modal-title text-black">Sign in to update a review</h4>
                }
            </div>

            <div class="modal-body">
                @if (!string.IsNullOrEmpty(Context.Session.GetString("CurrentUser")))
                {
                    <form id="editReviewForm" action="@Model.Item6" method="post">
                        @Html.AntiForgeryToken()

                        <input type="hidden" name="movieId" value="@Model.Item1" />
                        <div class="form-group">
                            <label class="text-black p-2" for="title">Title</label>
                            <input value="@Model.Item4" type="text" class="form-control" name="reviewTitle" id="editReviewTitle" placeholder="Edit Title" style="max-width: 95%" oninput="checkEditForm()">
                        </div>
                        <div class="form-group">
                            <label class="text-black p-2" for="review">Review</label>
                            <textarea class="form-control" name="reviewText" id="editReviewText" placeholder="Edit your review" style="max-width: 95%; height: 150px;" oninput="checkEditForm()">@Model.Item5</textarea>
                        </div>

                        <div class="modal-footer">
                            @await Html.PartialAsync("_PrimaryButton",
                                Tuple.Create(
                                    "Close",
                                    "",
                                    "btn btn-secondary",
                                    "type=button data-dismiss=modal",
                                    "button")
                                )

                            @await Html.PartialAsync("_PrimaryButton",
                                Tuple.Create(
                                    "Submit",
                                    "style-1",
                                    "",
                                    "type=submit id=submitBtn disabled",
                                    "button")
                                )
                        </div>
                    </form>
                }
                else
                {
                    @await Html.PartialAsync("_PrimaryButton",
                        Tuple.Create(
                            "Close",
                            "",
                            "btn btn-secondary",
                            "type=button data-dismiss=modal",
                            "button")
                        )
                    @await Html.PartialAsync("_PrimaryButton", Tuple.Create("Sign in", "style-1", "", "href=/Auth/Login", "a"))
                }
            </div>
        </div>
    </div>
</div>