<!--
Usage:
 *at* await Html.PartialAsync("_ProfileTabButton",
    Tuple.Create("Watchlist", "Profile", "Recommendations",
        await Html.PartialAsync("_OtherPartial", Tuple.Create(...)),
        await Html.PartialAsync("_OtherPartial", Tuple.Create(...)),
        await Html.PartialAsync("_OtherPartial", Tuple.Create(...))
    ))
    -->

<div>
    @model Tuple<string, string, string, Microsoft.AspNetCore.Html.IHtmlContent, Microsoft.AspNetCore.Html.IHtmlContent, Microsoft.AspNetCore.Html.IHtmlContent>

    <ul class="nav nav-tabs border-0 container" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active fs-5" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">@Model.Item1</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link fs-5" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">@Model.Item2</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link fs-5" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">@Model.Item3</button>
        </li>
    </ul>
    <div class="tab-content pt-3 bg-secondary-color" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">@Model.Item4</div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">@Model.Item5</div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">@Model.Item6</div>
    </div>
</div>

<style>
    .nav-tabs .nav-link {
        border: none;
        color: #007bff;
        padding: 0.7rem 1.5rem;
        height: auto;
    }

        .nav-tabs .nav-link.active {
            background-color: #252627;
            color: white;
        }
</style>