@*
    argument 1: movies list
    argument 2: true or false (if true, it adds a close button on the card)

    Usage:
    @await Html.PartialAsync("_ProfileMovieCardComponent", Tuple.Create(movies, true))
*@

@model Tuple<List<Project.Models.IMovieItem>, Boolean>

<div class="d-flex flex-column flex-md-row gap-3 flex-wrap">
    @if (Model.Item1 != null && Model.Item1.Any())
    {
        @foreach (var movie in Model.Item1)
            {
            string movieDataId = $"{movie.Movie_id}_{movie.Created_at:yyyyMMddHHmmss}";

            <div class="card bg-secondary-color movie-card" id="@movie.Id" style="width: 18rem;" data-movie-id="@movieDataId" data-imdb-id="@movie.Movie_id">
                @if (Model.Item2)
                {
                    <button class="btn btn-danger close-btn" aria-label="Close">X</button>
                }
                <div class="card-img-container">
                        @if (!string.IsNullOrEmpty(movie.Movie_poster) && movie.Movie_poster != "N/A")
                        {
                            <img class="card-img-top" src="@movie.Movie_poster" alt="@movie.Movie_title">
                        }
                        else
                        {
                            <img class="card-img-top" src="@Url.Content("~/images/poster_not_found.png")" alt="Movie poster not found">
                        }
                </div>
                <div class="card-body-movie d-flex flex-column">
                    <h6 class="card-title my-2"><a href="#">@movie.Movie_title</a></h6>
                </div>
            </div>
        }
    }
    else
    {
        <p>No movies found.</p>
    }
</div>