@*
    argument 1: movies list
    argument 2: true or false (if true, it adds a close button on the card)
    argument 3: link to be submitted

    Usage:
    @await Html.PartialAsync("_ProfileMovieCardComponent", Tuple.Create(movies, true, link))
*@

@model Tuple<List<Project.Models.IMovieItem>, Boolean, string>

<div class="d-flex flex-md-row gap-3 flex-wrap profile-movie-container__row">
    @if (Model.Item1 != null && Model.Item1.Any())
    {
        @foreach (var movie in Model.Item1)
        {
            string movieDataId = $"{movie.Movie_id}_{movie.Created_at:yyyyMMddHHmmss}";

            <div class="card bg-secondary-color movie-card" id="@movie.Id" style="width: 18rem;" data-movie-id="@movieDataId" data-imdb-id="@movie.Movie_id">
                @if (Model.Item2)
                {
                    <form id="deleteForm-@movie.Movie_id" action="@Model.Item3" method="post" class="mb-2">
                        @Html.AntiForgeryToken()
                        @Html.Hidden("id", @movie.Movie_id)

                        @await Html.PartialAsync("_PrimaryButton", Tuple.Create("X", "", "btn btn-danger close-btn delete-profile-button", "type=button", "button"))
                    </form>
                }
                <div class="card-img-container">
                    @if (!string.IsNullOrEmpty(movie.Movie_poster) && movie.Movie_poster != "N/A")
                    {
                        <img class="card-img-top movie-poster" src="@movie.Movie_poster" alt="@movie.Movie_title">
                    }
                    else
                    {
                        <img class="card-img-top movie-poster" src="@Url.Content("~/images/poster_not_found.png")" alt="Movie poster not found">
                    }
                </div>
                <div class="card-body-movie d-flex flex-column">
                    <h6 class="card-title my-2"><a href="#">@movie.Movie_title</a></h6>
                </div>
            </div>
        }
    }
    else
    {
        <p>No content found.</p>
    }
</div>
