@*
    argument 1: movies list
    argument 2: true or false (if true, it adds a close button on the card)
    argument 3: link to be submitted

    Usage:
    @await Html.PartialAsync("_ProfileMovieListComponent", Tuple.Create(moviesList, true, link))
*@

@model Tuple<List<Project.Models.IMovieItem>, Boolean, string>

<div class="d-flex profile-movie-container">
    @await Html.PartialAsync("_ProfileMovieCardComponent", Tuple.Create(Model.Item1, Model.Item2, Model.Item3))

    @*SIDE CARD*@

    @if (Model.Item1 != null && Model.Item1.Any())
    {
        <div id="side-card-container">
            @foreach (var movie in Model.Item1)
            {
                string movieDataId = $"{movie.Movie_id}_{movie.Created_at:yyyyMMddHHmmss}";
                <div class="d-flex d-none side-card gap-3" data-movie-id="@movieDataId" data-imdb-id="@movie.Movie_id">
                    <div class="side-btn-container align-self-center">
                        <button class="btn btn-lg close-side-container">
                            <i class="fa-solid fa-angle-right fa-2xl"></i>
                        </button>
                    </div>
                    <div class="card bg-secondary-color" style="width: 18rem;">
                        <div class="card-img-container">
                            @if (!string.IsNullOrEmpty(movie.Movie_poster) && movie.Movie_poster != "N/A")
                            {
                                <img class="card-img-top" src="@movie.Movie_poster" alt="@movie.Movie_title" id="@movie.Id">
                            }
                            else
                            {
                                <img class="card-img-top" src="@Url.Content("~/images/poster_not_found.png")" alt="@movie.Movie_title">
                            }
                        </div>
                        <div class="card-body-movie d-flex flex-column" id="movie-details-@movieDataId">
                        </div>
                        @await Html.PartialAsync("_PrimaryButton", Tuple.Create("See More", "style-1", "", $"href=/content/{movie.Movie_id}", "a"))
                    </div>
                </div>
            }
        </div>
    }
</div>
